<?xml version="1.0" encoding="UTF-8" ?>
	
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns 	= "http://www.w3.org/ns/widgets"
   	xmlns:gap 	= "http://phonegap.com/ns/1.0"
   	id			= "com.heypano.dndCombatTracker"
   	versionCode	= "1"
   	version		= "1.0">

	<name>DnD Combat Tracker</name>
	<description>Dungeons and Dragons combat tracker (initiative and stuff)</description>
	<author href="www.heypano.com" email="pano@heypano.com">Pano Papadatos</author>
	<gap:platform name="android" />
	<preference name="phonegap-version" value="3.6.3" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="disallowOverscroll" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="prerendered-icon" value="false" />
	<preference name="android-minSdkVersion" value="14" />
	<preference name="android-installLocation" value="auto" />
	<preference name="BackgroundColor" value="0x12345678" />
	<preference name="KeepRunning" value="true" />
	
	<preference name="permissions" value="none"/>
	
	<icon src="res/icon/icon.png" gap:platform="ios" width="128" height="128" />
	<icon src="res/icon/icon.png" gap:platform="android" width="128" height="128" gap:density="xhdpi" />
	
	<gap:splash src="res/screen/splash.png" gap:platform="android" gap:density="xhdpi" />
	<!--  <gap:plugin name="org.apache.cordova.splashscreen" /> -->
	
	<!--  <access origin="*" subdomains="true" /> -->
	
</widget>