/**
  *	General 
  */
@font-face {
    font-family: Ruthie;
    src: url(../../res/fonts/Ruthie-Regular.ttf);
}

div#header,
div#content
{
	padding-left:10px;	
	padding-right:10px;	
}

/**
  * Header
  */
div#header
{
	margin-bottom: 10px;	
}

div#appTitle
{
	font-family: Ruthie;
	font-size: 250%;
}


/**
  * Content
  */

/**
  *	Draggables
  */

div.dragme{
	width:100px;
	height:30px;
	line-height:30px;
	background-color: #ffaacc;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}

div.dragContainer{
	height:40px;
}