/**
  *	General 
  */
@font-face {
    font-family: Ruthie;
    src: url(../../res/fonts/Ruthie-Regular.ttf);
}

div#header,
div#content
{
	padding-left:10px;	
	padding-right:10px;	
}

/**
  * Header
  */
div#header
{
	margin-bottom: 10px;	
}

div#appTitle
{
	font-family: Ruthie;
	font-size: 250%;
}


/**
  * Content
  */

div.player{
    color: white;
    text-shadow: none;
}

div.player.human
{
    background-color: #C88B62;
}

div.player.npc{
    background-color: #3E7E73;
}

/**
  *	Draggables
  */

div.draggable{
	width:250px;
	height:50px;
	line-height:50px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}

div.dragContainer{
	height:60px;
}