/**
  *	General 
  */
@font-face {
    font-family: Ruthie;
    src: url(../../res/fonts/Ruthie-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(../../res/fonts/Lato-Regular.ttf);
}

div#header,
div#content
{
	padding-left:10px;	
	padding-right:10px;
    font-family: Lato;
}

/**
  * Header
  */
div#header
{
	margin-bottom: 60px;	
}

div#appTitle
{
	font-family: Lato;
	font-size: 250%;
}


/**
  * Content
  */

div.player{
    text-shadow: none;
	color: white;
}

div.player.human
{
    background-color: #9BC362;
}

div.player.npc{
    background-color: #D4786A;
}

div.player .initiative{
    width: 30px;
    padding-right: 10px;
    color: black;
}

div.player .initiative{
    float: right;
    padding-right: 10px;
    color: black;
}

/**
  *	Draggables
  */

div.draggable{
	width:250px;
	height:50px;
	line-height:50px;
	border: 0px solid black;
	border-radius: 5px;
	text-align: center;
}

div.dragContainer{
	height:60px;
}